body{ 
    background-color: gray;
}

h1{
    font-size:50px;
    color: aqua;
    text-align: center;

}
p{
    color: rgb(70, 0, 128);
    font-weight: 900;
}
.ingr{
    color: red;
    font-size: 50px;
}
#one{
    text-align: center;
}
.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   


}
.Two{

}